*{ /* selektor wszystkich znaczników, 'body' jest selektorem "ciała strony" */
    font-family: Cambria;
}
.baner, .stopka{
    background-color: #829EB9;
    color: white;
    text-align: center;
    padding: 10px;

}
.lewy, .prawy{
    background-color: #b3c6d9;
    height: 400px;
    width: 25%;
    padding-top: 100px;
    
   
}
.srodkowy{
    background-color: #e0e9f1;
    height: 400px;
    width: 50%;
    text-align: center;
    padding-top: 100px;
}

table{
    border: 1px solid dimgray; /* konstrukcja border */
    width: 80%;
    margin: auto;
    border-collapse: collapse; /* !!! WAŻNE --- sklejenie linii obranowania */ 

}
td, th{
    border: 1px solid dimgray;

}
td:hover{
    background-color: steelblue;
    color: white;

}
img{
    width: 100%;
    border-radius: 20px; /* --- ! ZAOKRĄGLENIE BOKÓW --- */
}

/*
---- DODAJ TO, BY WYRÓWNAĆ OBOK SIEBIE ------
*/
.lewy, .srodkowy, .prawy{
    float: left;
}
.stopka{
    clear: both;
}